body{
     /* background-color: black;  */
    display: block;
    margin: auto;
    

}
.home{
    height: 100vh;
    width: 100vw;
    /* background-color: blue; */
}
.nav{
    width: 100vw;
    background-color: black;
    height: 30px;
    display: flex;
    justify-content: right;
     /* padding-left: 950px; */
    padding-top: 10px;
}

.image1{
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-image: url('download.png');
    /* background-color: black; */
    color: rgb(0, 0, 0);
/* background-image: url('download.png'); */
    display: flex;
    
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.Contact{
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(0, 0, 0);
    width: 100vw;
    height: 500px;
    color: white;
}

.con1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 250px;
    color: white;
    background-color: rgb(0, 0, 0);
}